---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Camille Cartier" description="About Cartier Camille">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Découvrez mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/cc.jpg"
					alt="Cartier Camille"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Depuis l'âge de 5 ans, les jeux vidéo ont été ma passion. 
						Qu'il s'agisse de jouer sur une Super Nintendo ou d'explorer les possibilités offertes par un PC à 3000€, les jeux vidéo ont toujours été au cœur de mon univers. 
						Cette passion m'a naturellement conduit à poursuivre une carrière de développeur gameplay.
					</p>
					<br>
					<p>
						Au lycée, j'ai choisi la spécialité Sciences du numérique, où j'ai découvert la programmation avec le langage Python. 
						Cette révélation m'a confirmé que c'était la voie que je voulais suivre, et j'ai obtenu un 19 au bac dans cette matière. 
						Ensuite, j'ai intégré le Lille Ynov Campus, une école axée sur les projets concrets avec des cours en demi-journée.
					</p>
					<br>
					<p>
						Les deux premières années, la filière jeu vidéo n'étant disponible qu'à partir de la troisième année, j'ai utilisé mon temps libre pour approfondir mes connaissances en programmation et explorer divers aspects du développement de jeux. 
						J'ai expérimenté avec Unity, développant un jeu vidéo dans le cadre d'un projet scolaire, ainsi que des défis comme la création d'un Flappy Bird en trois jours. En deuxième année, je me suis intéressé à Unreal Engine, où j'ai exploré la VFX, la conception d'environnement, le gameplay, et l'IA. 
						C'est là que j'ai découvert ma passion pour le gameplay et l'IA, bien que le design environnemental m'attire également.
					</p>
					<br>
					<p>
						J'ai également touché à Blender, me limitant pour l'instant à des projets basiques comme le fameux donut. 
						Actuellement, je renforce mes compétences en C++ et me forme à DirectX et OpenGL, afin d'élargir mon expertise en vue de trouver une alternance.
					</p>
					<br>
					<p>
						Parmi mes qualités, on peut noter ma détermination et ma capacité à me donner à 500% sur un projet qui me passionne, ainsi que ma persévérance même lorsque le projet ne m'emballe pas autant. 
						Mon principal défaut est sans doute ma tendance à vouloir toucher à de nombreux domaines et à revisiter mon code plusieurs fois pour l'optimiser, ce qui peut me prendre beaucoup de temps, même sur des projets de moindre importance.
					</p>
					<br>
					<p>
						Mon rêve ultime serait de voir mon nom apparaître un jour dans un jeu de la série Assassin's Creed, ma licence de jeu vidéo préférée.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bac Général Mention assez bien, (En cours)Licence informatique Lille Ynov Campus</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						- C++<br>
						- C#<br>
						- Python<br>
						- Unreal Engine<br>
						- Unity<br>
						- DirectX<br>
						- OpenGL<br>
						- IA<br>
						- Gameplay<br>
						- VFX<br>
						- Environnement<br>
						- BluePrint
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
